@use "@/assets/Reset.scss" as *;
@use "@/assets/Variables.scss" as *;
@use "@/assets/Home.scss" as *;
@use "@/assets/scroll.scss" as *;

// 푸터 .fixed-buttons 영역을 클릭 투명하게
:deep(.fixed-buttons) {
  pointer-events: none !important;
  z-index: 0 !important;
}
// 푸터 안의 a, button 만 클릭 허용
:deep(.fixed-buttons) a,
:deep(.fixed-buttons) button {
  pointer-events: auto !important;
}

// 폰트
body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

html,
body,
#app {
  margin: 0;
}
/* 텍스트에 포커스가 가지 않게 */
div,
label,
span,
button,
a {
  outline: none;
  user-select: none;
  cursor: default; /* 선택 불가 커서 */
}
// 전체
.wrap_total {
  padding-bottom: 100px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-family: $font-family;
  box-sizing: border-box;
  .div {
    padding: 0 35px;
    padding-top: 120px;
  }
}
// 햄버거 바 나오면 오른쪽으로 80px밀기
:is(.container2ndDiv, .ft_footer .inner ,.inner1230).menu-open {
  margin-left: 80px;
}
.line {
  width: 80%;
  border: 1px dashed #dcdcdc;
  margin: 100px auto;
}
@media screen and (max-width: 390px) {
  .title_txt1 h1 {
    font-size: 30px !important;
  }
  .inquiry-btn > img {
    width: 60px !important;
  }
}
